body {
    background-color: #2c3e50;
    color: #fff;
}
#days-of-week {
    color: #f1c40f;
}
.week {
    background-color: #f1c40f;
    border: 2px solid;
    color: #000;
}
#astronomy {
    color: #e74c3c;
}