*   {
    margin: 0;
    padding: 0;
}
.flex-container {
    box-sizing: border-box;
    padding: 10px;
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    display: flex;
    gap: 10px;
}
.flex-item {
    background-color: #ff0044;
}
