img {
    width: 700px;
    height: 380px;
}

p {
    font-size: 24px;
}

@media (max-width: 795px) {
    img {
        width: 500px;
    }

    p {
        font-size: 18px;
    }
}

@media (max-width: 555px) {
    img {
        width: 100%;
        height: auto;
    }

    p {
        font-size: 16px;
    }
}

@media (max-width: 455px) {
    p {
        font-size: 14px;
    }
}