.container{
    background-color: #fffafa;
    text-align: start;
    padding: 0 15% 0 15%;
    border: 0 5% 0 50%;
}
.date{
    padding: 0 20% 0 20%;
    color: #008080;
    font-weight: 900;
}
.post{
    padding: 0 20% 40px 20%;
}
h1{
    padding: 0 20% 0 20%;
    font-family: 'Montserrat';
}